/* style.css */
body {
    font-family: 'Playfair Display', sans-serif;
    background: linear-gradient(135deg, #ffffff, #ffffff); /* Set the same background color for both */
    font-size: 12px;
    color: #ffffff; /* White text color */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 47px;
    color: #ffffff; /* White heading */
}

h2 {
    font-size: 24px;
    color: #ffffff; /* White heading */
}

h3 {
    font-size: 20px;
    color: #ffffff; /* White heading */
}

p {
    font-size: 14px;
    color: #ffffff; /* White text color */
}

.button {
    padding: 10px 20px;
    background-color: #ff3333; /* Use provided primaryColor for button background */
    color: #ffffff; /* White text color for contrast */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase; /* Uppercase text for emphasis */
    font-weight: bold; /* Bold text for emphasis */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

button:hover {
    background-color: #ff3333; /* Slightly darker red on hover */
}

/* Add a subtle transition for smoother hover effect */
button:hover {
    transition: background-color 0.3s;
}
